.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  
}

@media (max-width:750px) {
  /* this is a comment in css, the computer ignores it*/
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1000px) {
.video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

.thumbnail-container {
  width: 100%;
  position: relative;
}

.thumbnail {
  width: 100%;
  object-fit: contain;
 object-position: center;
}

.Video-Preview {
width: 100%;
vertical-align: top;
margin-right: 30px;
}

.profile-picture1 {
width: 36px;
margin-top: 10px;

}
.video-title {
margin-top: 7px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 5px;
}
.channel-picture1 {
width: 40px;
border-radius: 20px;
}
.video-author,
.video-stats {
font-size: 12px;
color: rgb(96 96 96);
margin-left: 50px;
}
.video-stats {
margin-top: 5px;

}
.video-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}

.Video-Preview {
width: 100%;
vertical-align: top;
margin-right: 30px;
}

.profile-picture1 {
width: 40px;
margin-top: 10px;

}
.video-title {
margin-top: 7px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 5px;
}
.channel-picture1 {
width: 40px;
border-radius: 20px;
}
.video-author,
.video-stats {
font-size: 12px;
color: rgb(96 96 96);
margin-left: 50px;
}
.video-stats {
margin-top: 5px;

}
.video-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;

}